<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/adm.css">
    <title>Painel Adm</title>
</head>
<body>
    
    <body id="Home">    
        <header id="Header_home">
          <h1 id="Logo">
            <a href="/"><img src="imagens/nx2 1.png" alt="Logo"></a>
          </h1>
      
          <div class="pesquisa">
            <input type="text" placeholder="Busque aqui.">
            <button type="button">
              <img src="imagens/Group 2 (1).png" alt="Psquisa">
            </button>
          </div>
          <span class="adm">Olá <%= autenticado.autenticado %>!</span><br>
          <button id="back-button" onclick="goBack()"><a href="/configuracao"></a><img src="imagens/Arrow 12.png" alt=""></button>
          <h1 class="Painel">Painel Administrativo</h1>

    <table class="tabela"> 
        <thead>
            <tr>
                <!-- <th>ID de Usuário</th> -->
                <th class="Nome">Nome</th>
                <th class="Email">Email</th>
                <!-- <th>tipo</th> -->
                <th class="Açao">Ação</th>
            </tr>
        </thead>
        <tbody>
            <% usuarios.forEach(function(usuario){ %>

            <tr> 
                <td class="nomeusu"><%= autenticado.autenticado%></td>
                <td><%=usuario.autenticado %></td>
                <td class="emailusu"><%=usuario.email%></td>
                <!-- <td><%=usuario.id_tipo_usuario %></td> -->
                <td>
                    <button onclick="<%=" window.location='/excluir/"+ usuario.id_usuario %>'" class="delete">
                        delete
                    </button>
                </td>
                
            
                
            </tr>
           <% }); %>
        </tbody>
    </table>

    <% 
    if(paginador){ 
        %>

        <div class="notificador">
            <ul>
                <%
        for(var i=1; i <= paginador.total_paginas; i++){ 
            if(paginador.pagina_atual==i){ 
                %>
                <li><a class="atual" href="?pagina=<%= i %>"> <%= i %> </a></li>
            <%
            } else {
            %>    
                <li><a href="?pagina=<%= i %>"> <%= i %> </a></li>
            <%
            }
        }
        %>
    </ul>
</div>
<%
    }
        %>

        <footer>

            <div class="rodinha">
        
        
              <nav>
        
                <ul>
                  <h3 class="subtitulo-rodape">Atendimento ao cliente</h3>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Central de Ajuda
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Como comprar
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Métodos de Pagamentos
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Garantia
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Devolução e Reembolso
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="#" class="cor-texto-rodape">
                      Fale Conosco
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Ouvidoria
                    </a>
                  </li>
        
                </ul>
        
              </nav>
        
        
              <nav>
        
                <ul>
                  <h3><br>Siga-nos</h3>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Instagram
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Twitter
                    </a>
                  </li>
        
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Facebook
                    </a>
                  </li>
        
                </ul>
              </nav>
        
        
              <nav>
        
        
                <ul>
                  <h3><br>Sobre a Nix</h3>
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Sobre Nós
                    </a>
                  </li>
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Políticas NIX
                    </a>
                  </li>
                  <li class="lista-rodape">
                    <a href="" class="cor-texto-rodape">
                      Políticas de Privacidade
                    </a>
                  </li>
                </ul>
              </nav>
        
              <ul>
                <nav>
                  <h3>Pagamentos</h3>
        
                  <div class="nini">
        
                    <li class="lista-rodape">
                      <a href="" class="cor-texto-rodape">
                        <img src="imagens/visa.png">
                      </a>
                    </li>
        
                    <li class="lista-rodape">
                      <a href="" class="cor-texto-rodape">
                        <img src="imagens/mastercard.png">
                      </a>
                    </li>
                    <li class="lista-rodape">
                      <a href="" class="cor-texto-rodape">
                        <img src="imagens/elo.png">
                    </li>
                    <li class="lista-rodape">
                      <a href="" class="cor-texto-rodape">
                        <img src="imagens/paypal.png">
                      </a>
                    </li>
                  </div>
                </nav>
              </ul>
            </div>
            <div class="direito">
              <p>© 2022 NIXwear.Todos os direitos reservados</p>
              <p>País e região: Brasil</p>
            </div>
        
          </footer>
          <script src="js/Script.js"></script>
</body>
</html>