
<!DOCTYPE html>
<html lang="pt-br"></html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width-device-width", institial-scale="1.0">
        <link rel="stylesheet" type="text/css" href="css/cadastro.css">
        <link rel="stylesheet" href="js/Script.js">
        
        <script src="js/notify.js"></script>
        <!-- CSS -->
        <!-- https://github.com/simple-notify/simple-notify -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.css" />
        <!-- JS -->
        <script src="https://cdn.jsdelivr.net/npm/simple-notify@0.5.5/dist/simple-notify.min.js"></script>
        <title>Cadastro</title>
        </head>
<header>
  <a href="/">
    <img class="homecad" src="imagens/Home icon.png">
  </a>
</header>
<body class="roxo">
  <% 
    let msgErro = {"usuar":"", "email":"",senha:""};
    let avisoErro = {"usuar":"", "email":"",senha:""};
    if(listaErros){
        listaErros.errors.forEach(function(itemErro){
            if(itemErro.path == "usuar"){
                avisoErro.usuar = "erro";
                msgErro.usuar += " "+itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo nome<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
            if(itemErro.path == "senha"){
                avisoErro.senha = "erro";
                msgErro.senha = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo senha<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%                
            }
            if(itemErro.path == "email"){
                avisoErro.email = "erro";
                msgErro.email = itemErro.msg;
                %>
                <script>
                    notify("Erro no preenchimento","Verifique o campo e-mail<br><%= itemErro.msg%>", "error", "center")                        
                </script>
                <%
            }
        })
    }
    if (dadosNotificacao) { %>
        <script>
                notify("<%= dadosNotificacao.titulo%>","<%= dadosNotificacao.mensagem%>", "<%= dadosNotificacao.tipo%>", "center")
                if("<%= dadosNotificacao.tipo %>" == "success"){
                    setTimeout(function(){window.location="/"}, 3000)
                }                        
        </script>
    <% } %>

  
  <div class="fundo">
  <h1 class="Texto">Cadastrar-se</h1>
 
	<form class="sub" id="cadastroForm" action="/cadastro" method="post">
    <input type="text" id="email" name="usuar" class="<%= avisoErro.usuar %>" placeholder="Usuario" required>
    <span> <%= msgErro.usuar %> </span> 
		<input type="email" id="usuar_email" name="email" class="<%= avisoErro.email %>" placeholder="E-mail" required>
    <span> <%= msgErro.email %> </span> 
		<input type="password" id="senha" name="senha" class="<%= avisoErro.senha %>" placeholder="Senha" >
    <span> <%= msgErro.senha %> </span> 
    <!-- <input type="password" id="consenha" name="consenha" placeholder="Confirmar Senha" > -->
		<button class="enviar">Confirmar</button>
	  </form>
    <h2 class="Entrar">Possui uma conta?<a href="/login"> Entrar.</a></h2>
    <label class="checkbox-label">
      <input type="checkbox" id="concordo" name="concordo"> Eu concordo com osﾠ<a href="/termos"> termos de uso.</a>
  </label>
  </div>
	</body>
  </html>